<div
  class="max-w-sm bg-white rounded-2xl shadow-lg overflow-hidden p-5 flex flex-col items-center space-y-4"
>
  <img
    [src]="product.image"
    [alt]="product.title"
    class="w-40 h-40 object-contain rounded-lg transition-transform duration-300 hover:scale-105"
  />

  <div class="text-center">
    <h2 class="text-lg font-semibold text-gray-900 line-clamp-2 h-[4rem]">
      {{ product.title }}
    </h2>
    <p class="text-sm text-gray-600 mt-1 line-clamp-3">
      {{ product.description }}
    </p>
  </div>

  <div class="flex flex-col items-center">
    <p class="text-xl font-bold text-indigo-600">R$ {{ product.price }}</p>
    <button
      (click)="addItem(product)"
      class="cursor-pointer mt-3 px-5 py-2 bg-indigo-600 text-white font-medium rounded-lg shadow-md hover:bg-indigo-700 transition-all duration-300"
    >
      Add to Cart
    </button>
  </div>
</div>
